{% extends "layout.html" %}

{% block body %}

<div class="container">

<form  method="post" class="form-inline">
  My position:
    latitude (between 50 and 51) <input class="input-small" placeholder="latitude" name="lat" value="{{lat}}">
    longitude (between -1 and 1) <input class="input-small" placeholder="longitude" name="lon" value="{{lon}}">
    distance <input class="input-small" placeholder="distance" name="dist" value="{{dist}}">

  <button type="submit" class="btn btn-primary">Search</button>
</form>



    <p class="text-success">

        <h2> {{nbmvts}} vehicules around me ({{lat}},{{lon}})</h2>
        {{vehicule_map.html}}

    </p>

</div> <!-- /container -->

{% endblock %}