{% extends "layout.html" %}

{% block body %}

<div class="container">

    <h3> My position</h3>

    <form  method="post" class="form-inline">

        <div class="col-lg-2">
            <label>Latitude [50,52]</label>
            <input type="text" class="form-control" placeholder="latitude" name="lat" value="{{lat}}">
        </div>
        <div class="col-lg-2">
            <label>Longitude [-2, 2]</label>
            <input class="form-control" placeholder="longitude" name="lon" value="{{lon}}">
        </div>
        <div class="col-lg-3">
            <label>Distance (10 km by default)</label>
            <input class="form-control" placeholder="distance" name="dist" value="{{dist}}">
        </div>

    <button type="submit" class="btn btn-primary">Search</button>

    </form>
</div>

<div class="container">

    <p>

        {% if nbmvts==0 %}
        <h2> No vehicles around me ({{lat}},{{lon}})</h2>
        {% endif %}

        {% if nbmvts %}
        <h2> {{nbmvts}} vehicles around me ({{lat}},{{lon}})</h2>
        {% endif %}

    {{vehicle_map.html}}

    </p>

</div> <!-- /container -->

{% endblock %}