{% extends "layout.html" %}

{% block body %}

<div class="container">

<form  method="post" class="form-inline">
  <label>Geohash tile</label>
    <select class="form-control" name="tile" >
        {{alltiles}}
    </select>
    <!--<input class="input-small" placeholder="Enter a geohash tile" name="tile" value="{{tile}}">-->
  <button type="submit" class="btn btn-primary">Search</button>
</form>

</div>

<div class="container">

    <p>

        {% if nbmvts==0 %}
        <h2> No vehicles in geohash tile {{tile}}</h2>
        {% endif %}

        {% if nbmvts %}
        <h2> {{nbmvts}} vehicles in geohash tile {{tile}}</h2>
        {% endif %}

        {{vehicle_map.html}}

    </p>

</div> <!-- /container -->

{% endblock %}