{% extends "layout.html" %}

{% block body %}

<div class="container">

<form  method="post" class="form-inline">
  Geohash tile  

    <select class="form-control" name="tile" >
        {{alltiles}}
    </select>

    <!--<input class="input-small" placeholder="Enter a geohash tile" name="tile" value="{{tile}}">-->

  <button type="submit" class="btn btn-primary">Search</button>
</form>


    <p class="text-success">
        <h2> {{nbmvts}} vehicules in geohash tile {{tile}}</h2>
        {{vehicule_map.html}}

    </p>

</div> <!-- /container -->

{% endblock %}