{% extends "layout.html" %}
{% block body %}

<div class="container">

    {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}

<form  method="post" class="form-inline">
  Vehicle Id <input type="number" class="input-small" placeholder="Enter a vehicule id" name="vehicle_id" value="{{vehicle_id}}">
                Day <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name="day" value="{{day}}"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>


        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY' })
            });
        </script>

</div>

    <!-- <p class="text-success">
    {{ debug}}
    {{day}}
    </p>-->

    <p class="text-success">
        <h2> {{nbmvts}} movements of vehicule {{vehicle_id}}</h2>
        {{vehicule_map.html}}

    </p>

</div> <!-- /container -->

{% endblock %}