{% extends "layout.html" %}
{% block body %}

<div class="container">

<form  method="post" class="form-inline">

  <label>Vehicle Id</label>
    <input type="number" class="input-small" placeholder="Enter a vehicule id" name="vehicle_id" value="{{vehicle_id}}">
    <label>Day (today by default)</label>
    <div class='input-group date' id='datetimepicker1'>
        <input type='text' class="form-control" name="day" value="{{day}}"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>

</form>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY' })
            });
        </script>

    <p class="text-success">

        {% if nbmvts==0 %}
        <h2> No movements of vehicle {{vehicle_id}}</h2>
        {% endif %}

        {% if nbmvts %}
        <h2> {{nbmvts}} movements of vehicle {{vehicle_id}}</h2>
        {% endif %}

        {{vehicle_map.html}}
    </p>

</div> <!-- /container -->

{% endblock %}