{% extends "layout.html" %}
{% block body %}
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>KillrTaxi</h1>
        <p>This is a Web demo application using Patrick Callaghan DataStax/Cassandra demo API found here <a href="https://github.com/PatrickCallaghan/datastax-taxi-app">https://github.com/PatrickCallaghan/datastax-taxi-app</a></p>
        <p>As Patrick says "This demo traces moving vehicles as they pass through geohash tiles.
        It also keeps track of a vehicle movements on a day to day basis. Similar to a vessel tracking or taxi application."</p>
        <p>This application use Python <a href="http://flask.pocoo.org/">Flask Web framework</a> and <a href="https://github.com/rochacbruno/Flask-GoogleMaps">Flask-GoogleMap</a> extension.</p>
          <p>The source code can be found on <a href="https://github.com/victorcouste/killrtaxi">https://github.com/victorcouste/killrtaxi</a></p>
      </div>

    </div> <!-- /container -->
{% endblock %}
