<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="{{ url_for('static', filename='jquery-1.12.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='moment.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>


    <script src="{{ url_for('static', filename='bootstrap-datetimepicker.min.js') }}"></script>

    <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">-->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-datetimepicker.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme.css') }}">

    <!-- Custom styles for this template -->
    <!-- <link href="{{ url_for('static', filename='justified-nav.css') }}" rel="stylesheet"> -->


    {% if request.endpoint == 'getvehicle' or request.endpoint == 'gettile'  or request.endpoint == 'getme'%}
            {{vehicle_map.js}}
     {% endif %}

</head>
<body>

    <div class="container">

        <div>

        <h2>KillrTaxi</h2>

        <nav>
            <ul class="nav nav-pills">
                <li {% if request.endpoint == 'home'%} class="active" {% endif %}><a href="{{ url_for('home') }}" >Home</a></li>
                <li {% if request.endpoint == 'getvehicle'%} class="active" {% endif %}><a href="{{ url_for('getvehicle') }}" >Movements of a vehicle</a></li>
                <li {% if request.endpoint == 'gettile'%} class="active" {% endif %}><a href="{{ url_for('gettile') }}" >Vehicles in a geohash tile</a></li>
                <li {% if request.endpoint == 'getme'%} class="active" {% endif %}><a href="{{ url_for('getme') }}" >Vehicles around me</a></li>
            </ul>
        </nav>
        </div>

        {% if error %}

        <div class="bg-warning alert-warning">

    <p><h2 > {{error}} </h2></p>

             </div>

    {% endif %}

    {% block body %}{% endblock %}

    </div>

</body>


</html>